<!-- templates/ticket.html -->
{% extends "base.html" %}
{% block content %}
    <h1>Book Ticket to {{ route.destination }}</h1>
    <img src="{{ url_for('static', filename='images/' + route.image) }}" alt="{{ route.destination }} Product Image" class="product-image">
    <p>Price: £{{ route.price }}</p>
    <p>Departure Time: {{ route.departure }}</p>
    <form method="GET" action="{{ url_for('checkout', route_id=route.id) }}">
        <label for="passengers">Number of Passengers:</label>
        <select name="passengers" id="passengers" required>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="submit" class="book-now-btn">Buy</button>
    </form>
    <p><a href="{{ url_for('home') }}" class="back-btn">Back to Home</a></p>
{% endblock %}